<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet" />
    <title>Delete Recipe</title>
</head>

<body>
    <div class="container mx-auto mt-12 w-80 border-width-1 flex flex-col">
        <h1 id="recipe-name" class="text-4xl font-semibold text-green-500">-</h1>
        <h1 class="text-md font-regular mt-4">Cooked by <span id="author" class="font-semibold"></span></h1>
        <h1 class="text-md font-regular mt-2 mb-6">Posted <span class="font-semibold" id="date"></span></h1>

        <!-- instructions -->
        <h1 class="text-lg font-semibold mt-6">Are you sure you want to delete this recipe?</h1>

        <div class="flex flex-row space-x-2 mt-4">

            <button
                class="px-4 py-2 w-24 my-1 bg-red-100 hover:bg-red-200 duration-200 text-red-500 rounded-xl font-medium"
                onclick="handleDelete()">
                Yes
            </button>
            <button class="px-4 py-2 my-1 text-gray-600 font-medium" onclick="window.location.href='/home'">
                No
            </button>
        </div>
    </div>
</body>

</html>

<script>

    // get current params
    const params = new URLSearchParams(window.location.search);
    const id = params.get("id"); // get recipe id

    // get recipe details from backend using id
    fetch('/recipe_details?id=' + id).then(response => {
        if (!response.ok) throw new Error("Network response was not")
        return response.json()
    }).then(data => {
        // set data
        document.getElementById("recipe-name").textContent = data.dishName;
        document.getElementById("date").textContent = data.date;
        document.getElementById("author").textContent = data.author;
    })

    async function handleDelete() {
        const formData = new FormData();
        formData.append("id", id);
        fetch('/recipe/delete', {method: "POST", body: formData}).then(response => {
            if (!response.ok) throw new Error("Network response was not")
            return response.json()
        }).then(data => {
            window.location.href='/home';
        })
    }
</script>