<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet"
    />
    <title>Recipes</title>
  </head>
  <body>
    <div class="container mx-auto mt-12 w-80 border-width-1 flex flex-col">
      <h1 class="text-4xl my-4 font-semibold text-green-500">Success!</h1>

      <p class="text-md">
        Successfully updated your recipe. Thanks for contributing.
      </p>

      <button
        class="px-4 py-2 mt-4 w-48 bg-green-100 hover:bg-green-200 duration-200 text-green-500 rounded-full font-medium"
        onclick="window.location.href='/home'"
      >
        Go Back Home
      </button>
    </div>
  </body>
</html>
